<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `initials-card`
     * Esto es para crear un lots
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsCard extends Polymer.Element {
      static get is() { return 'initials-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-card'
          }
        };
      }
    }

    window.customElements.define(InitialsCard.is, InitialsCard);
  </script>
</dom-module>
