<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-card">
  <template>
    <style>
      :host {
        display: block;
      }
      button
      {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        font-size: 125%;
      }
      .cambiarColor{
        background-color: {{this.colores}}
      }

    </style>
    <header>
      <button style$="color: {{myColor}};"  class$="{{color}}"><h1><slot></slot></h1></button>
    </header>
  </template>

  <script>
    /**
     * `initials-card`
     * Esto es para crear un lots
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsCard extends Polymer.Element {
      static get is() { return 'initials-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-card'
          },
          color:{
            type: String,
            value: '_cambiar()'
          },
          colores:{
            type: String,
            value: 'blue'
          }
        };
      }
      _cambiar(){
        console.log('entro')
        this.cambiarColor='red'
      }
    }

    window.customElements.define(InitialsCard.is, InitialsCard);
  </script>
</dom-module>
